#GCP project config
PROJECT_ID=your-gcp-project-id
LOCAL_MODEL_NAME=all-MiniLM-L6-v2
LOCATION=us-central1

#FAISS config
FAISS_INDEX_FILE=faiss_index.bin

#Dataset config
DATASET_PATH=../data/dataset.txt

#RAG config
TOP_K=5

#Toggle for Mocking
USE_MOCK=True